
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    background-color: #FFC338;
    padding: 50px;
}

body {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    background: #fff;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 .5rem;
}

.admin-access-button {
    position: absolute;
    top: -1rem;
    border-radius: 100%;
    left: -2.25rem;
    transform: rotate(-45deg);
    padding: 2rem;
}

.task__complete {
    text-decoration: line-through;
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    flex-basis: 25%;
    min-width: 200px;
    &-title {
        font-size: 1rem;
        font-weight: bold;
        flex-basis: 20%;
        margin: 1rem;
    }
}

.admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    flex-grow: 1;
    margin: 1rem;
}

html {
    font-family: sans-serif;
    background:#ffc600;
}

.inbox {
    flex-basis: 20%;
    flex-grow: 1;
    margin: 2.5%;
    min-width: 190px;
    background:white;
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    height: 100%;
}

.item {
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid #e4e4e4;
    margin: 0 5%;
}

.item:last-child {
    border-bottom:0;
}


input:checked + p {
    background:#F9F9F9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px 20px 20px 0;
}

p {
    margin:0;
    padding:20px;
    transition:background 0.2s;
    flex:1;
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}
